
@{
    ViewData["Title"] = "GetAllTopicsByCourseId";
}

@model List<Topic>;


<h1>GetAllTopicsByCourseId</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Topic Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseId</td>
                <td>@item.Course.Name</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>