
@{
    ViewData["Title"] = "Index";
}

<h1>Reports Index</h1>
<hr />
<a asp-controller="reports" asp-action="GetAllCoursesAndStudentsByInstructorId" class="btn btn-primary">Get All Courses And Students ByInstructor Id</a>
<hr />
<a asp-controller="reports" asp-action="GetAllCoursesGradesByStudentId" class="btn btn-primary">Get All Courses Grades By Student Id</a>
<hr />
<a asp-controller="reports" asp-action="GetAllQuestionsAndChoicesByExamId" class="btn btn-primary">Get All Questions And Choices By Exam Id</a>
<hr />
<a asp-controller="reports" asp-action="GetAllQuestionsAndStudentAnswerByExamIdAndStudentId" class="btn btn-primary">Get All Questions And Student Answer By Exam Id And Student Id</a>
<hr />
<a asp-controller="reports" asp-action="GetAllTopicsByCourseId" class="btn btn-primary">Get All Topics By Course Id</a>
<hr />
<a asp-controller="reports" asp-action="ReportGetAllStudentsByDepartmentId" class="btn btn-primary">Get All Students By Department Id</a>
<hr />
