

<h1 class=" alert alert-warning">No Content</h1>


@* 
<iframe src="http://amr/MyFirstReportServer/Pages/ReportViewer.aspx?%2fGetAllCoursesAndStudentsByInstructorId&rs:Command=Render"></iframe>
 *@
@* http://AMR:80/Reports/report/GetAllCoursesAndStudentsByInstructorId *@

@* http://amr/Reports/report/GetAllCoursesAndStudentsByInstructorId *@

@* 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Viewer</title>
</head>
<body>
    fgghdjjgj
    <iframe src="http://amr/MyFirstReportServer/GetAllCoursesAndStudentsByInstructorId"></iframe>
</body>
</html>
 *@