@{
    ViewData["Title"] = "Login Page";
}




<div style="display:flex;width: 100%; height: 100vh;">

    <div style=" background-image:url(' /assets/images/backgrounds/login.svg'); background-size: cover; background-position: center; background-repeat: no-repeat;width: 100%; height: 100vh;"></div>
   


    <div class="shadow  d-flex justify-content-center align-items-center" style="background-color:var(--custom-white); width: 400px; height: 100vh; padding: 80px 24px; background-color: var(--custom-white); z-index: 1;">
    
        <div class="d-flex flex-column w-100 " style="gap:120px;align-items:center;">
       
          <img src="~/assets/images/logos/logo.svg" />
          
                <form class="d-flex flex-column w-100" style="gap:16px;gap:16px;">
                    <input type="text" value="Email" class="form-control" />
                    <input type="text" value="Password" class="form-control" />
                <input type="submit" value="LogIn" class="form-control" style="background-color:var(--custom-red);color:var(--custom-white)" />

               </form>
            
    </div>

</div>
