@using ExaminationSystemITI.Models.Tables
@model Exam

<h1>Create Exam</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Duration">Duration (minutes):</label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date">Date:</label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="QCount">Number of Questions:</label>
        <input asp-for="QCount" class="form-control" />
        <span asp-validation-for="QCount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalMarks">Total Marks:</label>
        <input asp-for="TotalMarks" class="form-control" />
        <span asp-validation-for="TotalMarks" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CourseID">Course:</label>
        <select asp-for="CourseID" asp-items="@(new SelectList(ViewBag.Courses,"Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="CourseID" class="text-danger"></span>
    </div>

   @*  <div class="form-group">
        <label>Select Questions:</label>
        <select multiple asp-for="Questions" class="form-control" asp-items="@(new SelectList(ViewBag.Questions, "Id", "Title"))"></select>
        <span asp-validation-for="Questions" class="text-danger"></span>
    </div> *@

    <button type="submit" class="btn btn-primary">Create Exam</button>
</form>

