
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashboardLayout";
}
<seciton class="w-100 d-flex flex-column" style="gap: 16px;">
    <select class="form-select w-100">
        <option class="form-control">Admin</option>
        <option class="form-control">Choice</option>
        <option class="form-control">Course</option>
        <option class="form-control">Department</option>
        <option class="form-control">Exam</option>
        <option class="form-control">Instructor</option>
        <option class="form-control">Question</option>
        <option class="form-control" selected>Student</option>
        <option class="form-control">Topic</option>
        <option class="form-control">User</option>
        <option class="form-control">Admin</option>
    </select>

    <style>
.result-card {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(50px);
}

    .result-card.show {
        opacity: 1;
        transform: translateY(0);
    }
</style>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 result-card">
                <div class="card shadow">
                    <div style="background-color:var(--custom-blue)" class="card-header text-center text-white">
                            <h1 class="fw-bold" style="color:var(--custom-white)">Student Result</h1>
                    </div>
                    <div class="card-body">
                            <h6 class="text-center fw-semibold">Correct Answers: <span class="font-weight-bold">@ViewBag.CorrectCount</span></h6>
                            <h6 class="text-center fw-semibold">Total Questions: <span class="font-weight-bold">@ViewBag.TotalQuestions</span></h6>
                            <h6 class="text-center fw-semibold">Percentage: <span class="font-weight-bold">@ViewBag.Percentage%</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

document.addEventListener("DOMContentLoaded", function (event) {
    var resultCard = document.querySelector('.result-card');
    resultCard.classList.add('show');
});
</script>
</body>
</html>
</seciton>
