* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --custom-red: #9A3333;
    --custom-white: #FFFFFF;
    --custom-black: #424143;
    --custom-blue: #203947;
    --custom-overlay: rgba(32, 57, 71, 0.5);
}

.poppins-light {
    font-weight: 300;
}

.poppins-regular {
    font-weight: 400;
}

.poppins-medium {
    font-weight: 500;
}

.poppins-semibold {
    font-weight: 600;
}

.poppins-bold {
    font-weight: 700;
}

.poppins-extrabold {
    font-weight: 800;
}

.custom-wrapper {
    padding: 24px 160px;
}

@media ( max-width: 1000px ) {
    .custom-wrapper {
        padding: 24px 80px;
    }
}

@media ( max-width: 500px ) {
    .custom-wrapper {
        padding: 24px 40px;
    }
}